<%= content_for :title, t(".account_information_title") %>

<%= turbo_frame_tag "basic_information_edit", class: "contents" do %>
  <h1 class="font-bold text-4xl"><%= t(".account_information_title") %></h1>

  <hr class="my-4 border-gray-300">

  <% if @user.invited? && @user.invitation_unconfirmed? %>
    <p class="my-5 bg-yellow-100 animate-[bg-fade_1s_ease-in-out] p-3 rounded-md"><%= t(".account_setup_complete_instructions") %></p>
  <% end %>

  <%= render "form", user: @user %>
<% end %>
