
<%= turbo_frame_tag "sessions", class: "contents" do %>
  <div class="w-full">
    <h1 class="font-bold text-4xl"><%= t(".title") %></h1>

    <hr class="my-4 border-gray-300">

    <div id="sessions" class="my-5">
      <% @sessions.each do |session| %>
        <div id="<%= dom_id session %>">
          <p>
            <strong><%= t(".user_agent") %>:</strong>
            <%= session.user_agent %>
          </p>

          <p>
            <strong><%= t(".ip_address") %>:</strong>
            <%= session.ip_address %>
          </p>

          <p>
            <strong><%= t(".created_at") %>:</strong>
            <%= session.created_at %>
          </p>

          <% if session == Current.session %>
            <p class="text-green-600">
              <strong><%= t(".current_session") %></strong>
            </p>
          <% end %>
        </div>
        <p class="my-5">
          <%= button_to t(".log_out"), session, data: {turbo_method: :delete, turbo_frame: "_top"}, class: "rounded-md px-2 py-1 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
        </p>
      <% end %>
    </div>
  </div>
<% end %>
