<% content_for :title, t(".title") %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl"><%= t(".title") %></h1>

  <%= form_with(model: @user, url: sign_up_path) do |form| %>
    <% if @user.errors.any? %>
    <div style="color: red">
      <h2><%= t(".error", count: @user.errors.count) %></h2>

      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, required: true, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @user.errors[:first_name].none?, "border-red-400 focus:outline-red-600": @user.errors[:first_name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, requisred: true, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @user.errors[:last_name].none?, "border-red-400 focus:outline-red-600": @user.errors[:last_name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :email %>
    <%= form.email_field :email, required: true, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @user.errors[:email].none?, "border-red-400 focus:outline-red-600": @user.errors[:email].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :password %>
    <%= form.password_field :password, required: true, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @user.errors[:password].none?, "border-red-400 focus:outline-red-600": @user.errors[:password].any?}] %>
    <div><%= t(".password_minimum", count: User::MINIMUM_PASSWORD_LENGTH) %></div>
  </div>

  <div class="my-5">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, required: true, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @user.errors[:password_confirmation].none?, "border-red-400 focus:outline-red-600": @user.errors[:password_confirmation].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit t(".submit"), class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
