<%# locals: (item:) %>

<%= form_with(model: item, method: item.persisted? ? :put : :post, class: "contents") do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= t(".error", count: item.errors.count) %></h2>

      <ul class="list-disc ml-6">
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex flex-col sm:flex-row items-start sm:items-center gap-2 sm:gap-6">
    <%= form.label :title, class: "font-bold min-w-6" %>
    <%= form.text_field :title, class: "px-0 sm:px-3 py-2 w-full outline-none", required: true, placeholder: t(".title_placeholder") %>
  </div>

  <%= form.textarea :description, rows: 4, class: "block shadow-sm rounded-md border px-3 py-2 mt-2 w-full border-gray-400 focus:outline-blue-600 outline-none", placeholder: t(".description_placeholder"), data: { controller: "textarea-autogrow" } %>

  <div class="inline">
    <%= form.submit (item.persisted? ? t(".update") : t(".create")), class: "mt-4 rounded-md px-2.5 py-1 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
