<div id="<%= dom_id item %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1"><%= t(".title") %>:</strong>
    <%= item.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1"><%= t(".description") %>:</strong>
    <%= item.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1"><%= t(".status") %>:</strong>
    <%= item.status %>
  </div>
</div>
