<% content_for :title, @list.name %>

<div class="w-full">
  <div class="flex justify-between items-end select-none">
    <h1 class="font-bold text-4xl" style="view-transition-name: <%= dom_id(@list, :name) %>"><%= @list.name %></h1>
    <div data-controller="popup-menu" data-popup-menu-open-class="scale-100 opacity-100">
      <%= heroicon "ellipsis-horizontal-circle", variant: :outline, options: {class: "w-6 h-6", data_popup_menu_target: "trigger"} %>
      <div id="dropdown" data-popup-menu-target="menu" class="absolute right-[50px] lg:right-[180px] z-10 bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44 dark:bg-gray-700 py-2 px-3.5 mt-2 border border-gray-200 origin-top-right transform scale-0 opacity-0 transition-all duration-200 ease-out">
        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200 flex flex-col gap-4" aria-labelledby="dropdownDefaultButton">
          <li>
            <%= link_to edit_list_path(@list), class: "flex items-center gap-2" do %>
              <%= heroicon "pencil", variant: :outline, options: { class: "w-5 h-5" } %>
              <%= t(".lists.edit") %>
            <% end %>
          </li>
          <li>
            <%= button_to list_path(@list), method: :delete, data: { turbo_confirm: t(".lists.destroy_confirm") }, class: "flex items-center gap-2 cursor-pointer w-full" do %>
              <%= heroicon "trash", variant: :outline, options: { class: "w-5 h-5" } %>
              <%= t(".lists.destroy") %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <hr class="my-4 border-gray-300">

  <p class="text-sm text-gray-500 mb-4"><%= @list.description %></p>

  <div class="flex items-center gap-2">
    <%= link_to new_list_item_path(@list), class: "flex items-center gap-2 rounded-md w-fit px-2 py-1 bg-blue-600 hover:bg-blue-500 text-white font-medium" do %>
      <%= heroicon "plus", options: { class: "w-5 h-5" } %>
      <%= t(".new_item") %>
    <% end %>

    <%= heroicon "funnel", variant: :outline, options: { class: "w-5 h-5 ml-4" } %>
    <%= form_with(url: list_items_path(@list), method: :get, class: "contents", data: {controller: "form-autosubmit", turbo_action: "advance"}) do |form| %>
      <%= form.select :status, Item.statuses.keys.map { |status| [t(".statuses.#{status}"), status] }, {selected: params[:status], include_blank: t(".no_selected_status")}, class: "rounded-md border border-gray-300 px-2 py-1.5", data: { action: "form-autosubmit#submit" } %>
    <% end %>
  </div>

  <div class="min-w-full mt-12">
    <% if params[:status].present? || @items.values.any? %>
      <% if params[:status].blank? || params[:status].present? && params[:status] == Item.statuses[:pending] %>
        <div id="items-pending" data-controller="sortable" data-sortable-animation-value="150" data-sortable-handle-value=".sort-handle" data-sortable-resource-name-value="item">
          <% @items[Item.statuses[:pending]]&.each do |item| %>
            <%= render item %>
          <% end %>
          <p class="hidden only:block text-center">
            <% if params[:status].present? %>
              <%= image_tag "not_data.svg", class: "w-1/4 mx-auto mb-4" %>
              <%= t(".no_items_found_with_status", status: params[:status].humanize) %>
            <% else %>
              <%= t(".all_items_completed") %>
            <% end %>
          </p>
        </div>
      <% end %>

      <% unless params[:status].present? %>
        <hr class="my-4 border-gray-300 w-3/4 mx-auto">
      <% end %>

      <% if params[:status].blank? || params[:status].present? && params[:status] == Item.statuses[:complete] %>
        <div id="items-complete">
          <% @items[Item.statuses[:complete]]&.reverse_each do |item| %>
            <%= render item %>
          <% end %>
          <p class="hidden only:block text-center">
            <% if params[:status].present? %>
              <%= image_tag "not_data.svg", class: "w-1/4 mx-auto mb-4" %>
              <%= t(".no_items_found_with_status", status: params[:status].humanize) %>
            <% else %>
              <%= t(".no_completed_items") %>
            <% end %>
          </p>
        </div>
      <% end %>
    <% else %>
      <%= image_tag "empty_list.svg", class: "w-1/2 mx-auto" %>
      <p class="text-center my-10 text-xl"><%= t(".no_items_found") %></p>
    <% end %>
  </div>
</div>
