<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Todo" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "toastify.css", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id="toast_container">
      <% if notice.present? %>
        <%= render "shared/toast", text: notice, variant: :success %>
      <% end %>

      <% if alert.present? %>
        <%= render "shared/toast", text: alert, variant: :error %>
      <% end %>
    </div>

    <% if Current.user %>
      <%= turbo_stream_from(dom_id(Current.user)) %>

      <div data-controller="flowbite--drawer">
        <button data-flowbite--drawer-target="trigger" aria-controls="sidebar" type="button" class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
          <span class="sr-only">Open sidebar</span>
          <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
          </svg>
        </button>

        <aside data-turbo-permanent data-flowbite--drawer-target="container" id="sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0 border-r border-gray-200" aria-label="Sidebar">
          <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 bg-white dark:bg-gray-800">
            <ul class="font-medium">
              <li class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white dark:hover:bg-gray-700 group font-bold text-2xl">
                TodoAPP
              </li>
              <li class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <%= link_to t(".account"), account_path, data: {drawer_toggle: "sidebar"} %>
              </li>
              <%= turbo_frame_tag "lists", src: lists_path, class: "contents" do %>
                <div class="animate-pulse">
                  <div class="w-full h-8 bg-gray-300 rounded-md mb-4"></div>
                  <div class="w-full h-8 bg-gray-300 rounded-md mb-4"></div>
                  <div class="w-full h-8 bg-gray-300 rounded-md mb-4"></div>
                </div>
              <% end %>
              <li id="new_list_container"></li>
            </ul>
          </div>
        </aside>
      </div>
    <% end %>

    <main class="<%= class_names("sm:ml-64": Current.user.present?) %>">
      <div class="flex flex-col w-full items-center px-12 lg:px-44 py-8 lg:py-16">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
