<%# locals: (user:)%>
<div class="w-full">
  <h1 class="font-bold text-4xl"><%= t(".title") %></h1>

  <hr class="my-4 border-gray-300">

  <%= form_with(model: user, url: account_path, method: :patch, class: "contents", data: {turbo: "false"}) do |form| %>
    <% if user.errors.any? %>
      <div style="color: red">
        <h2><%= t(".error", count: user.errors.count) %></h2>

        <ul>
          <% user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="my-5">
      <%= form.label :locale, t(".locale") %>
      <%= form.select :locale, [["🇺🇸 #{t(".english")}", "en"], ["🇪🇸 #{t(".spanish")}", "es"]], {selected: user.locale}, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": user.errors[:locale].none?, "border-red-400 focus:outline-red-600": user.errors[:locale].any?}] %>
    </div>

    <div class="inline">
      <%= form.submit t(".submit"), class: "w-full sm:w-auto rounded-md px-2 py-1 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
    </div>
  <% end %>
</div>
